html {
	color: greenyellow;
	background-color: black;
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}

#ticker {
	color: antiquewhite;
	text-align: center;
}

.panel {
	border: 2px green solid;
	padding: 10px;
	width: fit-content;
	height: auto;
	text-align: left;
	margin: 5px;
}

#panel {
	width: 300px;
	height: 200px;
}

#chart {
	background-color: aliceblue;
}

.top-bar {
	display: flex;
	justify-content: space-between;
}
