/* * {
	background-color: black;
	color: greenyellow;
	font-family: "Courier New", Courier, monospace;
} */

#ticker {
	color: antiquewhite;
	text-align: center;
}

.panel {
	border: 2px green solid;
	padding: 10px;
	width: 300px;
	height: 200px;
	text-align: left;
	margin: 5px;
}

#panel {
	width: 300px;
	height: 200px;
}
